html {
  font-size: 10px;
  background: url(background.jpg)
    bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  flex-flow: row wrap;
  flex: 8; 
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: .2rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 6rem;
  height: 5rem;
  border-radius: 20%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}



.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  margin: .4rem;
}

kbd {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.bs{
  font-size: 1.8rem;
  margin-bottom: .5rem;
}
.sound {
  font-size: 1rem;
 
  text-transform: uppercase; 
  color: #ffc600;
}

.box {
  display: flex;
  flex-wrap: wrap;
}